# Terraform state & crash files
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
terraform.tfstate.d/
terraform.tfvars

# Terraform working directory (plugin & module cache)
.terraform/

# Ignore CLI binaries only (not the terraform folder)
terraform.exe

# Kubernetes configs
.kube/
kubeconfig
*.yaml.bak

# Docker
*.tar
*.pid

# Environment & logs
.env
*.log
logs/

# Editor / OS files
.DS_Store
.idea/
.vscode/
Thumbs.db
